<div class="side-bar-header">
<div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-team">
    <%= link_to "チーム選択する", new_team_path %>
  </div>
</div>

<div class="teams">
 <% current_user.teams.each do |team| %>
  <div class="team">
    <div class="team-name">
     <%= link_to team.name, team_messages_path(team) %>
    </div>
  </div>
  <% end %>
</div>
