<div class="side-bar-header">
<div class="header-name">
    <a href="#">Tom</a>
  </div>
  <div class="create-team">
    <a href="#">Teamチャットを作成する</a>
  </div>
</div>

<div class="teams">
<div class="team">
    <div class="team-name">
      <a href="#">教務</a>
    </div>
  </div>
  <div class="team">
    <div class="team-name">
      <a href="#">保育</a>
    </div>
  </div>
  <div class="team">
    <div class="team-name">
      <a href="#">インバウンド</a>
    </div>
  </div>
  <div class="team">
    <div class="team-name">
      <a href="#">広報</a>
    </div>
  </div>
  <div class="team">
    <div class="team-name">
      <a href="#">企画</a>
    </div>
  </div>
  <div class="team">
    <div class="team-name">
      <a href="#">総務</a>
    </div>
  </div>
</div>